header.header
  nav.header__top
    .container.d-flex.justify-content-between.align-items-center
      ul.header__nav.d-flex.align-items-center.justify-content-between
        li 
          a(href="#").link О компании
        li 
          a(href="#").link Акции и новости
        li
          a(href="#").link Доставка и оплата
        li 
          a(href="#").link Контакты
        li
          a(href="#").link Отзывы
      .phone.header__phone
        a(href="tel:+73882261122", title="title").link 8 388-226-11-22
      .btn.callback
        |<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
        |<path d="M9.50099 0C4.25467 0 0.00100708 4.25367 0.00100708 9.5C0.00100708 14.7463 4.25467 19 9.50099 19C14.7473 19 19.0009 14.7462 19.0009 9.5C19.0009 4.25367 14.7473 0 9.50099 0ZM14.5176 13.8616L13.757 14.6224C13.6212 14.758 13.2235 14.8426 13.2107 14.8426C10.8044 14.8636 8.48746 13.9184 6.7851 12.2159C5.07808 10.5079 4.13179 8.18264 4.1572 5.76819C4.1572 5.76709 4.24429 5.38084 4.37997 5.24645L5.14058 4.48572C5.41892 4.20609 5.95358 4.07973 6.32813 4.20504L6.48813 4.25841C6.86158 4.3836 7.25367 4.79652 7.35685 5.17694L7.73946 6.58123C7.84264 6.96275 7.70347 7.50552 7.42522 7.78385L6.91734 8.29181C7.41598 10.1378 8.86439 11.5865 10.7107 12.0864L11.2184 11.5783C11.498 11.2986 12.0406 11.1596 12.4213 11.2626L13.8254 11.6466C14.2059 11.7512 14.6187 12.1408 14.7439 12.5141L14.7972 12.6764C14.9213 13.0499 14.7959 13.5845 14.5176 13.8616Z" fill="white"/>
        |</svg> <span class="callback-text ml-2">Обратный звонок</span>
  .header__body.text-white.pt-4.pb-3
    .container
      .row
        .col-2
          a(href="").header__logo
            +icon('logo')
        .col-10.d-flex.justify-content-between
          .header__search
            label.m-0.border-animation(href="#")
              +icon('loop')
              input.border-animation__inner
          .header__auth.subtitle.d-flex.align-items-center.mx-5
            a(href="").link
              |<svg class="mr-3" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
              |<path d="M26.9621 27H1.03789C1.54851 20.2876 7.15677 15 14 15C20.8432 15 26.4515 20.2876 26.9621 27Z" stroke="white" stroke-width="2" stroke-linejoin="round"/>
              |<circle cx="14" cy="8" r="7" stroke="white" stroke-width="2"/>
              |</svg> вход/регистрация

          .header__cart.subtitle.d-flex.align-items-center
            a(href="").link
              |<svg class="mr-3" width="32" height="29" viewBox="0 0 32 29" fill="none" xmlns="http://www.w3.org/2000/svg">
              |<path fill-rule="evenodd" clip-rule="evenodd" d="M9.5717 10.2617L8.35971 6.55095H14.1592C14.7754 6.55095 15.2746 6.05128 15.2746 5.43506C15.2746 4.81884 14.7754 4.31917 14.1592 4.31917H7.63086L6.51106 0.89061C6.35841 0.420074 5.9218 0.12088 5.45214 0.12088L1.27256 0.119141C0.65634 0.119141 0.157104 0.618378 0.157104 1.2346C0.157104 1.85081 0.65634 2.35049 1.27256 2.35049H4.64501C6.64326 8.47005 8.64194 14.5901 10.6402 20.7101C9.84741 20.8727 9.139 21.2663 8.58758 21.8177C7.85177 22.5535 7.39646 23.5702 7.39646 24.6926C7.39646 25.8155 7.85177 26.8322 8.58758 27.5676C9.32339 28.3039 10.3401 28.7587 11.4625 28.7587C12.5854 28.7587 13.6017 28.3039 14.3379 27.5676C15.0737 26.8318 15.5286 25.8155 15.5286 24.6926C15.5286 24.0325 15.3712 23.4093 15.092 22.8579H22.8389C22.5584 23.4098 22.4001 24.0329 22.4001 24.6926C22.4001 25.8155 22.8554 26.8318 23.5912 27.5676C24.327 28.3039 25.3437 28.7587 26.4666 28.7587C27.589 28.7587 28.6057 28.3039 29.3415 27.5676C30.0773 26.8318 30.5322 25.8155 30.5322 24.6926C30.5322 23.5733 30.0778 22.5587 29.3424 21.8229C28.5866 21.0662 27.5346 20.6266 26.464 20.6266H12.9563L12.3136 18.6579L26.467 18.6561C26.9362 18.6561 27.3729 18.3569 27.5259 17.8864L31.4563 5.84949C31.5076 5.72164 31.5359 5.58161 31.5359 5.43506C31.5359 4.81884 31.0367 4.31917 30.4205 4.31917H23.085C22.4688 4.31917 21.9695 4.81884 21.9695 5.43506C21.9695 6.05128 22.4688 6.55095 23.085 6.55095H28.8845L27.6725 10.2617H9.5717ZM26.9441 12.4922H10.2997L11.5847 16.4265H25.6595L26.9441 12.4922ZM18.6219 4.31917C18.0057 4.31917 17.5064 4.81884 17.5064 5.43506C17.5064 6.05128 18.0057 6.55051 18.6219 6.55051C19.2381 6.55051 19.7378 6.05128 19.7378 5.43506C19.7378 4.81884 19.2381 4.31917 18.6219 4.31917ZM26.5431 22.8553C27.0193 22.8744 27.4494 23.0758 27.7647 23.3919C28.096 23.7233 28.3013 24.1834 28.3013 24.6926C28.3013 25.1997 28.0956 25.6585 27.7638 25.9903C27.432 26.3221 26.9732 26.5274 26.4666 26.5274C25.9599 26.5274 25.5012 26.3221 25.1693 25.9903C24.8371 25.6581 24.6318 25.1993 24.6318 24.6926C24.6318 24.1834 24.8371 23.7233 25.1685 23.3919C25.4725 23.0875 25.883 22.8892 26.3387 22.8579C26.417 22.8514 26.4631 22.8514 26.5431 22.8553ZM12.7602 23.3954C13.092 23.7272 13.2973 24.186 13.2973 24.6926C13.2973 25.1997 13.092 25.6581 12.7602 25.9903C12.4284 26.3221 11.9696 26.5274 11.463 26.5274C10.9559 26.5274 10.4971 26.3221 10.1657 25.9899C9.8335 25.6581 9.62824 25.1993 9.62824 24.6926C9.62824 24.186 9.8335 23.7272 10.1657 23.3954C10.4971 23.0632 10.9563 22.8579 11.463 22.8579C11.9696 22.8579 12.4284 23.0632 12.7602 23.3954Z" fill="white"/>
              |</svg> Корзина
  .header__footer.text-white
    .container
      .row
        .col-2.position-static
          label.menu-btn.d-flex.m-0
            input(type='checkbox').menu-toggle#menu-toggle
            .hamburger.hamburger--emphatic
              .hamburger-box
                .hamburger-inner
            span.subtitle Каталог
            | <svg class="ml-2" width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M4.50452 5.75075L0.204816 1.2789C-0.0688391 0.994439 -0.0688391 0.53323 0.204816 0.248905C0.478227 -0.035443 0.921673 -0.0354429 1.19506 0.248905L4.99965 4.2058L8.8041 0.249021C9.07762 -0.0353276 9.52102 -0.0353275 9.79443 0.249021C10.068 0.533369 10.068 0.994554 9.79443 1.27902L5.49466 5.75086C5.35789 5.89304 5.17882 5.96404 4.99967 5.96404C4.82043 5.96404 4.64123 5.8929 4.50452 5.75075Z" fill="white"/></svg>
            .header-menu
              .container
                .row
                  .col-3.header-menu__block
                    .header-menu__title.subtitle.mb-4 Весовое оборудование
                    ul.header-menu__list
                      li
                        a(href="#").link.link-accent Настольные электронные весы
                      li
                        a(href="#").link.link-accent Крановые весы
                      li
                        a(href="#").link.link-accent Напольные весы
                      li
                        a(href="#").link.link-accent Торговые весы
                      li
                        a(href="#").link.link-accent Счетные весы
                      li
                        a(href="#").link.link-accent Весы с печатью этикеток
                  .col-3.header-menu__block
                    .header-menu__title.subtitle.mb-4 Весовое оборудование
                    ul.header-menu__list
                      li
                        a(href="#").link.link-accent Настольные электронные весы
                      li
                        a(href="#").link.link-accent Крановые весы
                      li
                        a(href="#").link.link-accent Напольные весы
                      li
                        a(href="#").link.link-accent Торговые весы
                      li
                        a(href="#").link.link-accent Счетные весы
                      li
                        a(href="#").link.link-accent Весы с печатью этикеток
                  .col-3.header-menu__block
                    .header-menu__title.subtitle.mb-4 Весовое оборудование
                    ul.header-menu__list
                      li
                        a(href="#").link.link-accent Настольные электронные весы
                      li
                        a(href="#").link.link-accent Крановые весы
                      li
                        a(href="#").link.link-accent Напольные весы
                      li
                        a(href="#").link.link-accent Торговые весы
                      li
                        a(href="#").link.link-accent Счетные весы
                      li
                        a(href="#").link.link-accent Весы с печатью этикеток
                  .col-3.header-menu__block
                    .header-menu__title.subtitle.mb-4 Весовое оборудование
                    ul.header-menu__list
                      li
                        a(href="#").link.link-accent Настольные электронные весы
                      li
                        a(href="#").link.link-accent Крановые весы
                      li
                        a(href="#").link.link-accent Напольные весы
                      li
                        a(href="#").link.link-accent Торговые весы
                      li
                        a(href="#").link.link-accent Счетные весы
                      li
                        a(href="#").link.link-accent Весы с печатью этикеток

        .col-10.d-flex.align-items-center
          ul.catalog-list.d-flex.justify-content-between.subtitle.w-100
            li
              a(href="#", title="title").link Весовое оборудование
            li
              a(href="#", title="title").link Холодильное оборудование
            li
              a(href="#", title="title").link Торговое оборудование
            li
              a(href="#", title="title").link Мебель
            li
              a(href="#", title="title").link Ремонт
            li
              a(href="#", title="title").link Обслуживание



  .header-fixed#header-fixed
    .header__body.text-white.pt-4
      .container.pb-2
        .row
          .col-2
            a(href="").header__logo
              +icon('logo')
          .col-10.d-flex.justify-content-between
            .header__search
              label.m-0.border-animation(href="#")
                +icon('loop')
                input.border-animation__inner
            .phone.header__phone.d-flex.align-items-center.ml-5
              a(href="tel:+73882261122", title="title").link 8 388-226-11-22
            .header__auth.subtitle.d-flex.align-items-center.mx-5
              a(href="").link
                |<svg class="mr-3" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                |<path d="M26.9621 27H1.03789C1.54851 20.2876 7.15677 15 14 15C20.8432 15 26.4515 20.2876 26.9621 27Z" stroke="white" stroke-width="2" stroke-linejoin="round"/>
                |<circle cx="14" cy="8" r="7" stroke="white" stroke-width="2"/>
                |</svg> вход/регистрация

            .header__cart.subtitle.d-flex.align-items-center
              a(href="").link
                |<svg class="mr-3" width="32" height="29" viewBox="0 0 32 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                |<path fill-rule="evenodd" clip-rule="evenodd" d="M9.5717 10.2617L8.35971 6.55095H14.1592C14.7754 6.55095 15.2746 6.05128 15.2746 5.43506C15.2746 4.81884 14.7754 4.31917 14.1592 4.31917H7.63086L6.51106 0.89061C6.35841 0.420074 5.9218 0.12088 5.45214 0.12088L1.27256 0.119141C0.65634 0.119141 0.157104 0.618378 0.157104 1.2346C0.157104 1.85081 0.65634 2.35049 1.27256 2.35049H4.64501C6.64326 8.47005 8.64194 14.5901 10.6402 20.7101C9.84741 20.8727 9.139 21.2663 8.58758 21.8177C7.85177 22.5535 7.39646 23.5702 7.39646 24.6926C7.39646 25.8155 7.85177 26.8322 8.58758 27.5676C9.32339 28.3039 10.3401 28.7587 11.4625 28.7587C12.5854 28.7587 13.6017 28.3039 14.3379 27.5676C15.0737 26.8318 15.5286 25.8155 15.5286 24.6926C15.5286 24.0325 15.3712 23.4093 15.092 22.8579H22.8389C22.5584 23.4098 22.4001 24.0329 22.4001 24.6926C22.4001 25.8155 22.8554 26.8318 23.5912 27.5676C24.327 28.3039 25.3437 28.7587 26.4666 28.7587C27.589 28.7587 28.6057 28.3039 29.3415 27.5676C30.0773 26.8318 30.5322 25.8155 30.5322 24.6926C30.5322 23.5733 30.0778 22.5587 29.3424 21.8229C28.5866 21.0662 27.5346 20.6266 26.464 20.6266H12.9563L12.3136 18.6579L26.467 18.6561C26.9362 18.6561 27.3729 18.3569 27.5259 17.8864L31.4563 5.84949C31.5076 5.72164 31.5359 5.58161 31.5359 5.43506C31.5359 4.81884 31.0367 4.31917 30.4205 4.31917H23.085C22.4688 4.31917 21.9695 4.81884 21.9695 5.43506C21.9695 6.05128 22.4688 6.55095 23.085 6.55095H28.8845L27.6725 10.2617H9.5717ZM26.9441 12.4922H10.2997L11.5847 16.4265H25.6595L26.9441 12.4922ZM18.6219 4.31917C18.0057 4.31917 17.5064 4.81884 17.5064 5.43506C17.5064 6.05128 18.0057 6.55051 18.6219 6.55051C19.2381 6.55051 19.7378 6.05128 19.7378 5.43506C19.7378 4.81884 19.2381 4.31917 18.6219 4.31917ZM26.5431 22.8553C27.0193 22.8744 27.4494 23.0758 27.7647 23.3919C28.096 23.7233 28.3013 24.1834 28.3013 24.6926C28.3013 25.1997 28.0956 25.6585 27.7638 25.9903C27.432 26.3221 26.9732 26.5274 26.4666 26.5274C25.9599 26.5274 25.5012 26.3221 25.1693 25.9903C24.8371 25.6581 24.6318 25.1993 24.6318 24.6926C24.6318 24.1834 24.8371 23.7233 25.1685 23.3919C25.4725 23.0875 25.883 22.8892 26.3387 22.8579C26.417 22.8514 26.4631 22.8514 26.5431 22.8553ZM12.7602 23.3954C13.092 23.7272 13.2973 24.186 13.2973 24.6926C13.2973 25.1997 13.092 25.6581 12.7602 25.9903C12.4284 26.3221 11.9696 26.5274 11.463 26.5274C10.9559 26.5274 10.4971 26.3221 10.1657 25.9899C9.8335 25.6581 9.62824 25.1993 9.62824 24.6926C9.62824 24.186 9.8335 23.7272 10.1657 23.3954C10.4971 23.0632 10.9563 22.8579 11.463 22.8579C11.9696 22.8579 12.4284 23.0632 12.7602 23.3954Z" fill="white"/>
                |</svg> Корзина
    .header__footer.text-white
      .container
        .row
          .col-2.position-static
            label.menu-btn.d-flex.m-0
              input(type='checkbox').menu-toggle#menu-toggle
              .hamburger.hamburger--emphatic
                .hamburger-box
                  .hamburger-inner
              span.subtitle Каталог
              | <svg class="ml-2" width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M4.50452 5.75075L0.204816 1.2789C-0.0688391 0.994439 -0.0688391 0.53323 0.204816 0.248905C0.478227 -0.035443 0.921673 -0.0354429 1.19506 0.248905L4.99965 4.2058L8.8041 0.249021C9.07762 -0.0353276 9.52102 -0.0353275 9.79443 0.249021C10.068 0.533369 10.068 0.994554 9.79443 1.27902L5.49466 5.75086C5.35789 5.89304 5.17882 5.96404 4.99967 5.96404C4.82043 5.96404 4.64123 5.8929 4.50452 5.75075Z" fill="white"/></svg>

              .header-menu
                .container
                  .row
                    .col-3.header-menu__block
                      .header-menu__title.subtitle.mb-4 Весовое оборудование
                      ul.header-menu__list
                        li
                          a(href="#").link.link-accent Настольные электронные весы
                        li
                          a(href="#").link.link-accent Крановые весы
                        li
                          a(href="#").link.link-accent Напольные весы
                        li
                          a(href="#").link.link-accent Торговые весы
                        li
                          a(href="#").link.link-accent Счетные весы
                        li
                          a(href="#").link.link-accent Весы с печатью этикеток
                    .col-3.header-menu__block
                      .header-menu__title.subtitle.mb-4 Весовое оборудование
                      ul.header-menu__list
                        li
                          a(href="#").link.link-accent Настольные электронные весы
                        li
                          a(href="#").link.link-accent Крановые весы
                        li
                          a(href="#").link.link-accent Напольные весы
                        li
                          a(href="#").link.link-accent Торговые весы
                        li
                          a(href="#").link.link-accent Счетные весы
                        li
                          a(href="#").link.link-accent Весы с печатью этикеток
                    .col-3.header-menu__block
                      .header-menu__title.subtitle.mb-4 Весовое оборудование
                      ul.header-menu__list
                        li
                          a(href="#").link.link-accent Настольные электронные весы
                        li
                          a(href="#").link.link-accent Крановые весы
                        li
                          a(href="#").link.link-accent Напольные весы
                        li
                          a(href="#").link.link-accent Торговые весы
                        li
                          a(href="#").link.link-accent Счетные весы
                        li
                          a(href="#").link.link-accent Весы с печатью этикеток
                    .col-3.header-menu__block
                      .header-menu__title.subtitle.mb-4 Весовое оборудование
                      ul.header-menu__list
                        li
                          a(href="#").link.link-accent Настольные электронные весы
                        li
                          a(href="#").link.link-accent Крановые весы
                        li
                          a(href="#").link.link-accent Напольные весы
                        li
                          a(href="#").link.link-accent Торговые весы
                        li
                          a(href="#").link.link-accent Счетные весы
                        li
                          a(href="#").link.link-accent Весы с печатью этикеток
          .col-10.d-flex.align-items-center
            ul.catalog-list.d-flex.justify-content-between.subtitle.w-100
              li
                a(href="#", title="title").link Весовое оборудование
              li
                a(href="#", title="title").link Холодильное оборудование
              li
                a(href="#", title="title").link Торговое оборудование
              li
                a(href="#", title="title").link Мебель
              li
                a(href="#", title="title").link Ремонт
              li
                a(href="#", title="title").link Обслуживание
