footer 
  flex: 0 0 auto
  background-color: $text
  background-image: url(../images/general/bg-dark.png)
.footer-body
  padding: 5rem 0
  border-bottom: 2px solid #fff
.footer-icon
  width: 17px
  height: 17px
  margin-top: 0.375rem
  fill: $red
.footer-social-item__insta
  margin-right: 27px
.footer-social-item
  width: 51px
  height: 51px
  fill: white