extends template/main

block variables
  - var title = 'Catalog'
  - var pageClass = 'catalog-page'
block content
  .container 
    include modules/crumbs/crumbs
    h1 Фритюрницы, 17
    .filtr-block
      .filtr-block-title.d-flex.align-items-center.mb-3
        .filtr-text.pr-3 ФИЛЬТР
        .filtr-reset Сбросить 
      .filtr-list.row
        .filtr-item.col-2
          .filtr-item__title Страна производитель
          select.form-control.form-control-sm.input-height
            option 
            option Фритюрницы
            option Фритюрницы
        .filtr-item.col-2
          .filtr-item__title Спецпредложение
          select.form-control.form-control-sm.input-height
            option 
            option Фритюрницы
            option Фритюрницы
        .filtr-item.col-2
          .filtr-item__title Мощность
          select.form-control.form-control-sm.input-height
            option 
            option Фритюрницы
            option Фритюрницы
        .filtr-item.col-2
          .filtr-item__title Количество ванн
          select.form-control.form-control-sm.input-height
            option 
            option Фритюрницы
            option Фритюрницы
        .filtr-item.col-2
          .filtr-item__title Цена, ₽
          select.form-control.form-control-sm.input-height
            option 
            option Фритюрницы
            option Фритюрницы
        .filtr-item.col-2.d-flex.align-items-end
         .btn.input-height Применить
    .sorting-block
      .sorting-title.d-inline-block сортировать по:
      a(href="#").link.ml-2 
        +icon('sorting')
        span.link-dashed.ml-2.mr-4 цене
      a(href="#").link.mr-4
        +icon('sorting')
        span.link-dashed.ml-2 названию A-Я
      .sorting-title.d-inline-block.ml-5 вид:
        a(href="#").ml-2.link
          +icon('stroke', 'sorting-icon')
        a(href="#").ml-3.link
          +icon('bar', 'sorting-icon')
    section.section-product-list
      .row
        .col-12
          embed(src="", type="")