extends template/main

block variables
  - var title = 'Catalog'
  - var pageClass = 'catalog-page'
block content
  .container 
    include modules/crumbs/crumbs
    h1 Фритюрницы, 17
    .filtr-block
      .filtr-block-title.d-flex.align-items-center.mb-3
        .filtr-text.pr-3 ФИЛЬТР
        a(href="#").link.filtr-reset Сбросить 
      .filtr-list.row
        .filtr-item.col-6.col-md-4.col-lg-2.mb-2.mb-lg-0
          .filtr-item__title Страна производитель
          select.form-control.form-control-sm.input-height
            option 
            option Фритюрницы
            option Фритюрницы
        .filtr-item.col-6.col-md-4.col-lg-2.mb-2.mb-lg-0
          .filtr-item__title Спецпредложение
          select.form-control.form-control-sm.input-height
            option 
            option Фритюрницы
            option Фритюрницы
        .filtr-item.col-6.col-md-4.col-lg-2.mb-2.mb-lg-0
          .filtr-item__title Мощность
          select.form-control.form-control-sm.input-height
            option 
            option Фритюрницы
            option Фритюрницы
        .filtr-item.col-6.col-md-4.col-lg-2.mb-2.mb-lg-0
          .filtr-item__title Количество ванн
          select.form-control.form-control-sm.input-height
            option 
            option Фритюрницы
            option Фритюрницы
        .filtr-item.col-6.col-md-4.col-lg-2
          .filtr-item__title Цена, ₽
            input(type="text" class="js-range-slider" name="my_range" value="" data-type="double" data-min="0" data-max="1000" data-from="200" data-to="500" )
        .filtr-item.col-6.col-md-4.col-lg-2.d-flex.align-items-end
         .btn.input-height Применить
    .sorting-block
      .sorting-title.d-inline-block сортировать по:
      a(href="#").link.ml-2 
        +icon('sorting')
        span.link-dashed.ml-2.mr-4 цене
      a(href="#").link.mr-4
        +icon('sorting')
        span.link-dashed.ml-2 названию A-Я
      .sorting-title.sorting-title--view.d-inline-block.ml-5 вид:
        a(href="#").ml-2.link
          +icon('stroke', 'sorting-icon')
        a(href="#").ml-3.link
          +icon('bar', 'sorting-icon active')
    section.section-product-list
      .row.no-gutters.product-list
 
        .product-item
          .product-item--container
            .product-item__photo-wrapper.active
              .embed-responsive.embed-responsive-1by1
                  .embed-responsive-item.product-item__photo(style={'background-image': 'url(img/content/rec.png)'})
            .product-item__desc
              dl
                dt.product-item__title.text-big Фритюрница ERGO EF-061
                  dd.product-item__text Производитель: <span class='bold'>Китай</span>
                  dd.product-item__text Мощность: <span class='bold'>2 кВт</span>
                  dd.product-item__text Количество ванн: <span class='bold'>1</span>
            .product-item__price-block
              .product-item__price.recommended-item-price.mb-2 6 697 <span class="recommended-item-cur">₽/шт</span>
              .product-item__amount.d-flex.align-items-end
                span.minus -
                input#amount(type='text', value='1')
                span.plus +
              .recommended-item__btn-container.product-item__btn-container.d-flex
                .btn.recommended-item__btn
                  +icon('cart', 'mr-2')
                  | В корзину
                a(href="#").link.recommended-item__btn-text Подробнее
        .product-item
          .product-item--container
            .product-item__photo-wrapper
              .embed-responsive.embed-responsive-1by1
                  .embed-responsive-item.product-item__photo(style={'background-image': 'url(img/content/rec.png)'})
            .product-item__desc
              dl
                dt.product-item__title.text-big Фритюрница ERGO EF-061
                  dd.product-item__text Производитель: <span class='bold'>Китай</span>
                  dd.product-item__text Мощность: <span class='bold'>2 кВт</span>
                  dd.product-item__text Количество ванн: <span class='bold'>1</span>
            .product-item__price-block
              .product-item__price.recommended-item-price.mb-2 6 697 <span class="recommended-item-cur">₽/шт</span>
              .product-item__amount.d-flex.align-items-end
                span.minus -
                input#amount(type='text', value='1')
                span.plus +
              .recommended-item__btn-container.product-item__btn-container.d-flex
                .btn.recommended-item__btn
                  +icon('cart', 'mr-2')
                  | В корзину
                a(href="#").link.recommended-item__btn-text Подробнее
        .product-item
          .product-item--container
            .product-item__photo-wrapper
              .embed-responsive.embed-responsive-1by1
                  .embed-responsive-item.product-item__photo(style={'background-image': 'url(img/content/rec.png)'})
            .product-item__desc
              dl
                dt.product-item__title.text-big Фритюрница ERGO EF-061
                  dd.product-item__text Производитель: <span class='bold'>Китай</span>
                  dd.product-item__text Мощность: <span class='bold'>2 кВт</span>
                  dd.product-item__text Количество ванн: <span class='bold'>1</span>
            .product-item__price-block
              .product-item__price.recommended-item-price.mb-2 6 697 <span class="recommended-item-cur">₽/шт</span>
              .product-item__amount.d-flex.align-items-end
                span.minus -
                input#amount(type='text', value='1')
                span.plus +
              .recommended-item__btn-container.product-item__btn-container.d-flex
                .btn.recommended-item__btn
                  +icon('cart', 'mr-2')
                  | В корзину
                a(href="#").link.recommended-item__btn-text Подробнее
        .promo-banner
          .promo-banner__content.text-white
            h2.promo-banner__title Профессиональное оборудование для вашей кухни
            .promo-banner__text Профессиональное кухонное оборудование для ресторанов в наличии в Горно-Алтайске
            .btn Узнать подробности
        .product-item
          .product-item--container
            .product-item__photo-wrapper
              .embed-responsive.embed-responsive-1by1
                  .embed-responsive-item.product-item__photo(style={'background-image': 'url(img/content/rec.png)'})
            .product-item__desc
              dl
                dt.product-item__title.text-big Фритюрница ERGO EF-061
                  dd.product-item__text Производитель: <span class='bold'>Китай</span>
                  dd.product-item__text Мощность: <span class='bold'>2 кВт</span>
                  dd.product-item__text Количество ванн: <span class='bold'>1</span>
            .product-item__price-block
              .product-item__price.recommended-item-price.mb-2 6 697 <span class="recommended-item-cur">₽/шт</span>
              .product-item__amount.d-flex.align-items-end
                span.minus -
                input#amount(type='text', value='1')
                span.plus +
              .recommended-item__btn-container.product-item__btn-container.d-flex
                .btn.recommended-item__btn
                  +icon('cart', 'mr-2')
                  | В корзину
                a(href="#").link.recommended-item__btn-text Подробнее
        .product-item
          .product-item--container
            .product-item__photo-wrapper
              .embed-responsive.embed-responsive-1by1
                  .embed-responsive-item.product-item__photo(style={'background-image': 'url(img/content/rec.png)'})
            .product-item__desc
              dl
                dt.product-item__title.text-big Фритюрница ERGO EF-061
                  dd.product-item__text Производитель: <span class='bold'>Китай</span>
                  dd.product-item__text Мощность: <span class='bold'>2 кВт</span>
                  dd.product-item__text Количество ванн: <span class='bold'>1</span>
            .product-item__price-block
              .product-item__price.recommended-item-price.mb-2 6 697 <span class="recommended-item-cur">₽/шт</span>
              .product-item__amount.d-flex.align-items-end
                span.minus -
                input#amount(type='text', value='1')
                span.plus +
              .recommended-item__btn-container.product-item__btn-container.d-flex
                      .btn.recommended-item__btn
                        +icon('cart', 'mr-2')
                        | В корзину
                      a(href="#").link.recommended-item__btn-text Подробнее
        .product-item
          .product-item--container
            .product-item__photo-wrapper
              .embed-responsive.embed-responsive-1by1
                  .embed-responsive-item.product-item__photo(style={'background-image': 'url(img/content/rec.png)'})
            .product-item__desc
              dl
                dt.product-item__title.text-big Фритюрница ERGO EF-061
                  dd.product-item__text Производитель: <span class='bold'>Китай</span>
                  dd.product-item__text Мощность: <span class='bold'>2 кВт</span>
                  dd.product-item__text Количество ванн: <span class='bold'>1</span>
            .product-item__price-block
              .product-item__price.recommended-item-price.mb-2 6 697 <span class="recommended-item-cur">₽/шт</span>
              .product-item__amount.d-flex.align-items-end
                span.minus -
                input#amount(type='text', value='1')
                span.plus +
              .recommended-item__btn-container.product-item__btn-container.d-flex
                      .btn.recommended-item__btn
                        +icon('cart', 'mr-2')
                        | В корзину
                      a(href="#").link.recommended-item__btn-text Подробнее
        .product-item
          .product-item--container
            .product-item__photo-wrapper
              .embed-responsive.embed-responsive-1by1
                  .embed-responsive-item.product-item__photo(style={'background-image': 'url(img/content/rec.png)'})
            .product-item__desc
              dl
                dt.product-item__title.text-big Фритюрница ERGO EF-061
                  dd.product-item__text Производитель: <span class='bold'>Китай</span>
                  dd.product-item__text Мощность: <span class='bold'>2 кВт</span>
                  dd.product-item__text Количество ванн: <span class='bold'>1</span>
            .product-item__price-block
              .product-item__price.recommended-item-price.mb-2 6 697 <span class="recommended-item-cur">₽/шт</span>
              .product-item__amount.d-flex.align-items-end
                span.minus -
                input#amount(type='text', value='1')
                span.plus +
              .recommended-item__btn-container.product-item__btn-container.d-flex
                      .btn.recommended-item__btn
                        +icon('cart', 'mr-2')
                        | В корзину
                      a(href="#").link.recommended-item__btn-text Подробнее
