nav(aria-label="breadcrumb")
  ol.breadcrumb.px-0
    li.breadcrumb-item 
      a(href="#").link Главная
    li.breadcrumb-item 
      a(href="#").link Каталог
    li.breadcrumb-item 
      a(href="#").link Оборудование
    li(aria-current="page").breadcrumb-item.active Тепловое оборудование